<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.p2p.mapper.bgmMapper">
    <resultMap id="BaseResultMap" type="com.mc.p2p.model.po.Bgm">
        <id column="bgm_id" jdbcType="VARCHAR" property="bgmId"/>
        <result column="bgm_uri" jdbcType="VARCHAR" property="bgmUri"/>
        <result column="bgm_name" jdbcType="VARCHAR" property="bgmName"/>
        <result column="bgm_pic" jdbcType="VARCHAR" property="bgmPic"/>
    </resultMap>
    <sql id="Base_Column_List">
    bgm_id, bgm_uri, bgm_name, bgm_pic
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bgm
        where bgm_id = #{bgmId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bgm
    where bgm_id = #{bgmId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.mc.p2p.model.po.Bgm">
    insert into bgm (bgm_id, bgm_uri, bgm_name, 
      bgm_pic)
    values (#{bgmId,jdbcType=VARCHAR}, #{bgmUri,jdbcType=VARCHAR}, #{bgmName,jdbcType=VARCHAR}, 
      #{bgmPic,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.mc.p2p.model.po.Bgm">
        insert into bgm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bgmId != null">
                bgm_id,
            </if>
            <if test="bgmUri != null">
                bgm_uri,
            </if>
            <if test="bgmName != null">
                bgm_name,
            </if>
            <if test="bgmPic != null">
                bgm_pic,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bgmId != null">
                #{bgmId,jdbcType=VARCHAR},
            </if>
            <if test="bgmUri != null">
                #{bgmUri,jdbcType=VARCHAR},
            </if>
            <if test="bgmName != null">
                #{bgmName,jdbcType=VARCHAR},
            </if>
            <if test="bgmPic != null">
                #{bgmPic,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mc.p2p.model.po.Bgm">
        update bgm
        <set>
            <if test="bgmUri != null">
                bgm_uri = #{bgmUri,jdbcType=VARCHAR},
            </if>
            <if test="bgmName != null">
                bgm_name = #{bgmName,jdbcType=VARCHAR},
            </if>
            <if test="bgmPic != null">
                bgm_pic = #{bgmPic,jdbcType=VARCHAR},
            </if>
        </set>
        where bgm_id = #{bgmId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mc.p2p.model.po.Bgm">
    update bgm
    set bgm_uri = #{bgmUri,jdbcType=VARCHAR},
      bgm_name = #{bgmName,jdbcType=VARCHAR},
      bgm_pic = #{bgmPic,jdbcType=VARCHAR}
    where bgm_id = #{bgmId,jdbcType=VARCHAR}
  </update>
</mapper>