<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.p2p.mapper.BgmMapper">
  <resultMap id="BaseResultMap" type="com.mc.p2p.model.po.Bgm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bgm_id" jdbcType="VARCHAR" property="bgmId" />
    <result column="bgm_uri" jdbcType="VARCHAR" property="bgmUri" />
    <result column="bgm_name" jdbcType="VARCHAR" property="bgmName" />
    <result column="bgm_pic" jdbcType="VARCHAR" property="bgmPic" />
  </resultMap>
</mapper>