<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.p2p.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.mc.p2p.model.po.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="comment_id" jdbcType="VARCHAR" property="commentId" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="voice_path" jdbcType="VARCHAR" property="voicePath" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="sentiment" jdbcType="VARCHAR" property="sentiment" />
    <result column="negative" jdbcType="VARCHAR" property="negative" />
    <result column="positive" jdbcType="VARCHAR" property="positive" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
  </resultMap>
</mapper>