<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.p2p.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.mc.p2p.model.po.Customer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="wx_name" jdbcType="VARCHAR" property="wxName" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>